nav {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  display: inline-block;
  margin-left: .2em;
  margin-right: .2em;
  color: #47545D;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  letter-spacing: .3em;
  color: #47545D;
}

img {
  max-width: 100%;
  margin-left: 3em;
  margin-right: 3em;
}

p {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  max-width: 100%;
  margin-left: 3em;
  margin-right: 3em;
}

h2, h3 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 3em;
  color: #47545D;
}

ul {
  margin-left: 3em;
}

li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #47545D;
}

footer {
  background-color: #D4F2F5;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-bottom: .5em;
  color: #47545D;
}

footer a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #47545D;
}
