header {
  background:   #000000 url(images/blog_header_bg.jpg) 50% 50%;
  background-size: cover;
  background-position: center;
  height: 350px;
}

body {
  position: absolute;
  box-sizing: border-box;
  clear: none;
}

#sticky {
  position: fixed;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
  width: 100%;
  margin-top: -.625em;
}

nav {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  display: inline-block;
  margin-left: 4em;
  margin-right: 4em;
  color: #47545D;
  letter-spacing: .1em;
  transition: .5s all ease-in-out;
}

nav a:hover {
  color: #5A9AA8;
  cursor: pointer;
}

.fas {
  text-decoration: none;
  display: none;
}


h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: .3em;
  color: white;
  padding-top: 6em;
}


main {
  margin-left: 3em;
  margin-right: 3em;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

#flexItem1 {
  flex-basis: 58%;
}

#flexItem2 {
  flex-basis: 28%;
}

img {
  max-width: 100%;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  max-width: 100%;
}

h2, h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
    color: #47545D;
}

ul {
  margin-left: 3em;
}

li {
  margin-bottom: .75em;
}

li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #47545D;
  transition: .5s all ease-in-out;
}

li a:hover {
  color: #5A9AA8;
  cursor: pointer;
}

article {
  text-align: center;
  margin-top: 4em;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5em;
  margin-right: 5em;
  justify-content: space-between;
}

form button, form input, form textarea {
  box-sizing: border-box;
  background-color: white;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  border: 2px solid #47545D;
}

form button {
  width: 100%;
  margin-top: 1em;
  transition: .2s all ease-in-out;
}

form button:hover {
  cursor: pointer;
  background-color: #47545D;
  color: white;
}

form input {
  width: 49.5%;
  padding: 10px 10px;
}

textarea {
  display: block;
  width: 100%;
  margin-top: 1em;
  padding: 10px 10px;
  height: 8em;
}

footer {
  background-color: #D4F2F5;
  text-align: center;
  padding-bottom: .5em;
  padding-right: -10em;
  color: #47545D;
  margin-top: 3em;
}

footer a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #47545D;
}

footer nav a {
  margin-top: .675em;
  font-size: 1.563em;
  margin-left: 1em;
  margin-right: 1em;
}

footer nav {
  padding-bottom: 3em;
  padding-top: 2em;
}

footer input {
  width: 25em;
  height: 2.562em;
  border: none;
  margin-right: 2em;
  text-transform: uppercase;
  text-align: center;
}

footer input::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 600;

}

footer button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  width: 25em;
  height: 2.562em;
  background-color: transparent;
  border: 2px solid #47545D;
  margin-left: 2em;
  transition: .2s all ease-in-out;
  width: 20em;
}

footer button:hover {
  color: white;
  background-color: #47545D;
  cursor: pointer;
}

footer button p {
  margin: auto auto;
}

#copyright {
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #47545D;
  padding-top: 1em;
  margin-top: 3em;
}

@media screen and (max-width: 1272px) {
  #flexItem2 {
    display: none;
  }

  form input, form textarea, form button {
    display: block;
    width: 80%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  form input {
    margin-top: 1em;
  }
}

@media screen and (max-width: 806px) {
  #sticky {
    display: none;
  }

  .fas {
    text-decoration: none;
    display: block;
  }
}
